#watch-container{
    padding: 2rem;
    background-color: #1c1c1c;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    article{
        p{
            font-size: 10rem;
            color: red;
        }
    }
}

#button-section{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    button{
        margin: 1rem 0;
        padding: 1.5rem;
        background-color: red;
        border: 5px solid black;
        font-size: 2rem;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}